/* Cambia el color de fondo de los botones de navegación a negro */
.slick-prev:before,
.slick-next:before {
  color: black;
}

/* Cambia el color del texto de los botones de navegación a blanco */
.slick-prev,
.slick-next {
  background-color: white ;
  color: white ;
}
